.icon {
  transition: all 0.3s ease;
  color: transparent;
  background-clip: text;
}

.container:hover .icon {
  transform: scale(1.2);
}

.label {
  opacity: 0;
  transition: opacity 0.1s ease;
  color: var(--hover-color);
  font-weight: bold;
}

.container:hover .label {
  opacity: 1;
}
